<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <h1>Добавление сотрудника</h1>
</head>
<form th:method="POST" th:action="@{/employee}" th:object="${empDto}">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name"/>

    <br>

    <label for="family">Family</label>
    <input type="text" th:field="*{family}" id="family">

    <br>

    <label for="secondName">SecondName</label>
    <input type="text" th:field="*{secondName}" id="secondName">

    <br>

    <label for="hiringDate">HiringDate</label>
    <input type="text" th:field="*{hiringDate}" id="hiringDate">


    <input type="submit" value="Add person">
</form>
</html>